{
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    },
    "i18n": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
      ],
      "presets": ["react", "@lingui/babel-preset-react"]
    }
  }
}
