{
  "presets": ["es2015", "react"],
  "plugins": ["transform-class-properties"],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
