div.q-popover-content-success,
div.q-popover-content-failed {
  padding: 5px;
  font-size: 12px;

  max-width: 300px;
}

.q-popover-title-failed,
.q-popover-title-success {
  text-align: center;
  font-weight: 600;
  background-color: #fdfdfd;
}
