@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$body-bg-color: #edeeef;

$header-height: 50px;

$s-alert-info: #59a0e6;
$s-alert-success: #3c763d;
$s-alert-warning: #b2742b;
$s-alert-error: #a94442;
