@import '../../styles/partials/variables';

#core-layout {
  min-height: 100vh;
  display: flex;

  .s-alert-box {
    z-index: 1200!important;
    box-shadow: 0 0 2px 1px rgba(42, 42, 42, 0.4);
  }

  .s-alert-info {
    background: $s-alert-info;
    color: #fff;
  }
  .s-alert-success {
    background: $s-alert-success;
    color: #fff;
  }
  .s-alert-warning {
    background: $s-alert-warning;
    color: #fff;
  }
  .s-alert-error {
    background: $s-alert-error;
    color: #fff;
  }
}
